<section id="about">
	<img alt="Wave Decoration" class="waves" src="{{ theme.link }}/images/waves.svg"/>
	<div>
		<article class="maxwidthcontainer">
			<h2>{{ post.about_title }}</h2>
			<img alt="About Image" src="{{ Image(post.meta('about_image')).src }}"/>
			<p>{{ post.about_text }}</p>
		</article>
	</div>
	<img alt="Wave Decoration" class="waves upside-down" src="{{ theme.link }}/images/waves.svg"/>
</section>
