<section id="hero" class="maxwidthcontainer">
	<img class="hero-image" src="{{ theme.link }}/images/hero_img.svg"/>
	<div class="hero-text">
		<p>{{ post.hero_subtitle }}</p>
		<h1>{{ post.hero_title }}</h1>
		<a class="button" href="{{ Post(post.hero_cta_link).link }}">
			{{ post.hero_cta_text }}
		</a>
	</div>
</section>
