<li class="story-thumbnail">
	<a href="{{ story.link }}">
		<img alt="Main Image" src="{{ Image(story.meta('main_image')).src }}"/>
		<div class="story-content">
			<p class="story-subtitle">{{ story.thumbnail_title}}</p>
			<h3 class="story-title">{{ story.post_title }}</h3>
			<p class="story-thumbnail-text">{{ story.thumbnail_text }}</p>
		</div>
	</a>
</li>
