{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">
{% block header %}
	<header>
		<a href="{{ site.url }}">
			<h1 class="logo">
				Andy Huber</h1>
		</a>
		<button id="menu-trigger" class="hamburger hamburger--collapse" type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>
		<nav id="menu" class="nav-main" role="navigation">
			<ul>
				{% for item in header_menu.items %}
					<li>
						<a class="{% if item.current %}{{ 'active' }}{% endif %}" href="{{ item.link }}">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</header>
{% endblock %}
{% block content %}Sorry, no content
{% endblock %}
{% block footer %}<img class="waves" alt="Wave decoration" src="{{ theme.link }}/images/waves.svg"/><footer id="footer">
		<ul>
			{% for item in footer_menu.items %}
				<li>
					<a href="{{ item.link }}">{{ item.title }}</a>
				</li>
			{% endfor %}
		</ul>
		<small>© Andy Huber
			{{"now"|date('Y')}}</small>
	</footer>
	{{ function('wp_footer') }}
{% endblock %}</body></body></html>
