{% extends "base.twig" %}

{% block content %}
	<section id="single-section" class="content-wrapper maxwidthcontainer">
		<h1 class="article-h1">{{ post.title }}</h1>
		<a href="{{ post.link }}">{{ _e('edit') }}</a>
		<p class="blog-author">
			<span>By</span>
			<a href="{{post.author.path}}">
				{{ post.author.name }}
			</a>
			<span>&bull;</span>
			<time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
		</p>
		<div class="article-body test">
			{{post.content}}
		</div>
	</section>
	<!-- /content-wrapper -->
{% endblock %}
